apparmor==3.1.3
appdirs==1.4.4
argcomplete==2.0.0
Authlib==1.2.1
Babel==2.11.0
backoff==2.2.1
beautifulsoup4==4.12.2
blinker==1.7.0
blivet==3.7.1
blivet-gui==2.4.2
bodhi-client==8.0.0
Brlapi==0.8.4
cachetools==5.3.0
CCColUtils==1.5
certifi==2022.9.24
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
configobj==5.0.8
construct==2.10.68
cryptography==37.0.2
cssselect==1.1.0
cupshelpers==1.0
dasbus==1.7
dbus-python==1.3.2
decorator==5.1.1
distro==1.8.0
evdev==1.6.1
fedora-third-party==0.10
fedpkg==1.44
file-magic==0.4.0
filelock==3.8.2
Flask==3.0.0
fpdf==1.7.2
gitdb==4.0.9
GitPython==3.1.40
gpg==1.17.1
greenlet==1.1.3
gssapi==1.7.3
idna==3.4
initial-setup==0.3.97
inputs==0.5
itsdangerous==2.1.2
Jinja2==3.1.2
kerberos==1.3.0
kitchen==1.2.6
koji==1.33.0
langtable==0.0.64
LibAppArmor==3.1.3
libcomps==0.1.20
libdnf==0.72.0
lockfile==0.12.2
lutris==0.5.14
lxml==4.9.2
MarkupSafe==2.1.2
moddb==0.8.1
msgpack==1.0.4
munch==2.5.0
nftables==0.1
notify2==0.3.1
numpy==1.24.4
olefile==0.46
openidc-client==0.7.0
packaging==23.0
pexpect==4.8.0
pid==2.2.3
Pillow==9.5.0
ply==3.11
productmd==1.37
progressbar2==3.53.2
protobuf==3.19.6
ptyprocess==0.7.0
pwquality==1.4.5
pybeam==0.7
pycairo==1.23.0
pycparser==2.20
pycryptodomex==3.19.0
pycups==2.0.1
pycurl==7.45.2
pyenchant==3.2.2
pygit2==1.12.2
PyGObject==3.44.2
pykickstart==3.47
PyMySQL==1.1.0
pynvim==0.4.3
pyparted==3.12.0
pypresence==4.3.0
pyrate-limiter==3.1.0
pyroute2==0.7.3
PySide6-Essentials==6.6.0
PySocks==1.7.1
python-bugzilla==3.2.0
python-dateutil==2.8.2
python-fedora==1.1.1
python-meh==0.51
python-utils==3.3.3
pytz==2023.3.post1
pyudev==0.24.0
pyxdg==0.27
PyYAML==6.0
requests==2.28.2
requests-file==1.5.1
requests-ftp==0.3.1
requests-gssapi==1.2.3
requests-kerberos==0.12.0
rpkg==1.66
rpm==4.18.2
rpmautospec==0.3.8
rpmlint==2.4.0
scour==0.38.2
selinux==3.5
sepolicy==3.5
setools==4.4.3
setproctitle==1.2.3
shiboken6==6.6.0
simpleline==1.9.0
six==1.16.0
smmap==5.0.0
sos==4.5.1
soupsieve==2.4.1
steam==1.4.4
systemd-python==235
templated-dictionary==1.2
tldextract==3.5.0
tomli_w==1.0.0
toolz==0.12.0
urllib3==1.26.18
VapourSynth==58
vdf==3.4
Werkzeug==3.0.1
zstandard==0.21.0
