 <!DOCTYPE html> 
<html> 
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository Downloader</title>
    <style>
        /* CSS for Repository Downloader */

        /* Background color of the page */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 400px;
            width: 100%;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        button:disabled {
            background-color: #ddd;
            color: #888;
            cursor: not-allowed;
        }

        /* Style for loading modal */
        .modal {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 10px;
            text-align: center;
        }

    </style>
</head> 
  
<body> 
    <div id="loadingModal" class="modal">
        <div class="modal-content">
            <p>Please wait, processing. This may take a while depending on the number of pages and this repository server speed are so slow. 😅</p>
        </div>
    </div>

    <form action="/pdf" method="post" onsubmit="showLoading()">
        <h1>Repository Downloader</h1>
        <label for="id_grup">ID File Skripsi:</label>
        <input type="text" id="id_grup" name="id_grup" placeholder="Masukkan ID File Skripsi" required><br>

        <label for="id_bab">ID Bab/File:</label>
        <input type="text" id="id_bab" name="id_bab" placeholder="Masukkan ID Bab/File" required><br>

        <button type="submit" id="submitButton">Unduh Gambar</button>
    </form>

    <script>
        function showLoading() {
            document.getElementById('loadingModal').style.display = 'block';
            document.getElementById('submitButton').disabled = true;

            // Add an event listener to hide the modal when the post request is complete
            document.getElementById('submitButton').addEventListener('click', hideLoading);
        }

        function hideLoading() {
            document.getElementById('loadingModal').style.display = 'none';
        }
    </script>
</body> 
</html>